# Exchange rate                         Unprocessed data
Currency-Exchange-Rate-Statistic/Data/Exchange rate 2001-2021.xlsx


# Suicide and attempted suicide         Unprocessed data
Suicide-Statistic/Data/Suicide attempt 2020.xlsx
Suicide-Statistic/Data/Suicide attempt 2019.xlsx
Suicide-Statistic/Data/Suicide attempt 2018.xlsx
Suicide-Statistic/Data/Suicide attempt 2017.xlsx


# Driving License                       Unprocessed data
Driving-License-Statistic/Data/Issuance of driving license 2017.xlsx
Driving-License-Statistic/Data/Issuance of driving license 2018.xlsx
Driving-License-Statistic/Data/Issuance of driving license 2019.xlsx
Driving-License-Statistic/Data/Issuance of driving license 2020.xlsx


# Vehicles alienation                   Unprocessed data
Vehicles-Statistic/Data/Alienability Data/Alienation 2017.xlsx
Vehicles-Statistic/Data/Alienability Data/Alienation 2018.xlsx
Vehicles-Statistic/Data/Alienability Data/Alienation 2019.xlsx
Vehicles-Statistic/Data/Alienability Data/Alienation 2020.xlsx


# Vehicles Import                       Unprocessed data
Vehicles-Statistic/Data/Import Data/Import 2017.xlsx
Vehicles-Statistic/Data/Import Data/Import 2018.xlsx
Vehicles-Statistic/Data/Import Data/Import 2019.xlsx
Vehicles-Statistic/Data/Import Data/Import 2020.xlsx


# Vehicles registered                   Unprocessed data
Vehicles-Statistic/Data/Registered Data/Registered 2017.xlsx
Vehicles-Statistic/Data/Registered Data/Registered 2018.xlsx
Vehicles-Statistic/Data/Registered Data/Registered 2019.xlsx
Vehicles-Statistic/Data/Registered Data/Registered 2020.xlsx


# Vehicles                              Processed data
Vehicles-Statistic/Analyzed Data/Alienability/Alienation 2017-2020 (processed).xlsx
Vehicles-Statistic/Analyzed Data/Import/Imported 2017-2020 (processed).xlsx
Vehicles-Statistic/Analyzed Data/Registered/Registered 2017-2020 (processed).xlsx